@{
    ViewBag.Title = "Validador de facturas del S.E.";
}
<h2>Factura NO Validada</h2>
<p>
    Factura NO validada para el NIF: <strong>@ViewBag.Nif</strong><br />
    Número de serie: <strong>@ViewBag.NumSerie</strong><br />
    Fecha: <strong>@ViewBag.Fecha</strong><br />
    Importe: <strong>@ViewBag.Importe</strong><br />

    Indicación del sistema: <strong>@ViewBag.Mensaje</strong>
</p>

